@{
    ViewData["Title"] = "Data Nasabah";
}

<div class="modal fade" id="nasabahModal" tabindex="-1" role="dialog" aria-labelledby="nasabahModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="nasabahModalLabel">Tambah Nasabah</h4>
            </div>
            <div class="modal-body">
                <form autocomplete="off">
                    <div class="form-row">
                        <input type="hidden" id="boxNasabahId" />
                        <div class="col-md-8 mb-3">
                            <label for="boxKode">Kode Nasabah</label>
                            <input type="text" class="form-control" id="boxKode" placeholder="Kode Nasabah" required>
                        </div>
                        <div class="col-md-8 mb-3">
                            <label for="boxNama">Nama Nasabah</label>
                            <input type="text" class="form-control" id="boxNama" placeholder="Nama Nasabah" required>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-sm btn-secondary" data-dismiss="modal" onclick="ClearScreen();">Close</button>
                <button type="button" class="btn btn-sm btn-primary" id="btnAddNasabah" onclick="AddNasabah();"><span class="spinner-border spinner-border-sm spinnerButtonProccess" role="status"></span> Simpan</button>
                <button type="button" class="btn btn-sm btn-warning" id="btnUpdateNasabah" onclick="UpdateNasabah();"><span class="spinner-border spinner-border-sm spinnerButtonProccess" role="status"></span> Perbarui</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="detailModal" tabindex="-1" role="dialog" aria-labelledby="detailModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="detailModalLabel">Detail Data</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-7">
                        <table>
                            <tr>
                                <td>Kode Nasabah</td>
                                <td> : </td>
                                <td id="tdNasabahKode"></td>
                            </tr>
                            <tr>
                                <td>Nama Nasabah</td>
                                <td> : </td>
                                <td id="tdNasabahNama"></td>
                            </tr>
                        </table>
                    </div>
                </div>                               
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-sm btn-secondary" data-dismiss="modal">Close</button>                
            </div>
        </div>
    </div>
</div>

<section class="pcoded-main-container">
    <div class="pcoded-wrapper">
        <div class="pcoded-content">
            <div class="pcoded-inner-content">
                <div class="main-body">
                    <div class="page-wrapper">
                        <!-- [ Main Content ] start -->
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="card">
                                    <div class="card-header">
                                        <h5>Master / Nasabah</h5>
                                        <button class="btn btn-sm btn-success fa-pull-right" data-toggle="modal" data-target="#nasabahModal" onclick="ClearScreen()" data-backdrop="static" data-keyboard="false" title="Add Data">Add Nasabah</button>
                                    </div>
                                    <div class="card-block">
                                        <div class="table-responsive">
                                            <table id="nasabahTable" class="display table-sm nowrap table-striped table-hover" style="width:100%">
                                                <thead>
                                                    <tr class="table-light">
                                                        <th>No</th>
                                                        <th>Kode Nasabah</th>
                                                        <th>Nama Nasabah</th>
                                                        <th>Action</th>
                                                    </tr>
                                                </thead>
                                                <tbody></tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- [ Main Content ] end -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


@section Styles{
    <link rel="stylesheet" href="~/vendor/jazztemplate/plugins/data-tables/css/datatables.min.css">
    <link href="~/vendor/jazztemplate/plugins/select2/css/select2.min.css" rel="stylesheet" />

    <!-- modal-window-effects css -->
    <link rel="stylesheet" href="~/vendor/jazztemplate/plugins/modal-window-effects/css/md-modal.css">   
}


@section Scripts{
    <script src="~/vendor/jazztemplate/plugins/data-tables/js/datatables.min.js"></script>    
    <script src="~/vendor/moment-js/moment-with-locales-IDN.min.js"></script>    

    <!-- modal-window-effects Js -->
    <script src="~/vendor/jazztemplate/plugins/modal-window-effects/js/classie.js"></script>
    <script src="~/vendor/jazztemplate/plugins/modal-window-effects/js/modalEffects.js"></script>
    <script>
        $(document).ready(function () {
            $('.spinnerButtonProccess').hide();
            LoadTable();
            //LoadTableHistory();
        })

        function LoadTable() {
            var t = $("#nasabahTable").DataTable({                
                "ajax": function (data, callback, settings) {
                    $.ajax({
                        "url": "@Url.Action("Data","Nasabah")/Input",
                        "type": "GET",
                        "datatype": "json",
                        "data" : data,
                        "beforeSend": function () {
                            materialLoading(true);
                        }
                    }).then(
                        (data) => {
                            callback(data);
                            materialLoading(false);                            
                        },
                        (XMLHttpRequest, textStatus, errorThrown) => {
                            materialLoading(false);
                        });
                },
                "columns": [
                    { "data": null },
                    { "data": "kodeNasabah" },
                    { "data": "nama" },
                    {
                        "render": function (data, type, row) {
                            let buttonEdit = '<button type="button" class="btn btn-sm btn-warning" onclick="ShowData('+row.id+')"><span><i class="fas fa-edit"></i></span></button>';
                            let buttonDetail = '<button type="button" class="btn btn-sm btn-light" onclick="DetailData('+row.id+')"><span><i class="fa fa-eye"></i></span></button>';
                            let buttonDelete = '<button type="button" class="btn btn-sm btn-danger" onclick="DeleteData('+row.id+')"><span><i class="fas fa-trash-alt""></i></span></button>';

                            return buttonDetail + buttonEdit + buttonDelete; 
                        }
                    }
                ],
                "columnDefs": [
                    {
                        "targets": [0,3],
                        "className": "text-center",
                    }
                ]
            })
            t.on('order.dt search.dt', function () {
                t.column(0, { search: 'applied', order: 'applied' }).nodes().each(function (cell, i) {
                    cell.innerHTML = i + 1;
                });
            }).draw();
        }

        function ShowData(id) {
            let nasabahData = $('#nasabahTable').DataTable().data();
            console.log(nasabahData);
            $.each(nasabahData, function (index, value) {
                if (value.id == parseInt(id)) {
                    debugger;
                    $("#boxNasabahId").val(value.id);
                    $("#boxKode").val(value.kodeNasabah);
                    $("#boxNama").val(value.nama);
                    $('#btnAddNasabah').hide();
                    $('#btnUpdateNasabah').show();
                    $('#nasabahModal').modal('show');
                    return false;
                }
            })
        }        

        function DetailData(id)
        {
            let nasabahData = $('#nasabahTable').DataTable().data();
            $.each(nasabahData, function (index, value) {
                if (value.id == parseInt(id)) {                    
                    $("#tdNasabahKode").html(value.kodeNasabah);
                    $("#tdNasabahNama").html(value.nama);
                    $('#detailModal').modal('show');
                    return false;
                }
            })
        }

        function AddNasabah() {
            if($('#boxKode').val()=='' || $('#boxNama').val()==''){
                swal({
                    text: "Kode nasabah dan Nama nasabah harus diisi!",
                    icon: "warning"                    
                });
            }
            else
            {
                var fileData = new FormData();
                fileData.append('KodeNasabah',$("#boxKode").val());
                fileData.append('NamaNasabah',$("#boxNama").val());

                $.ajax({
                    "url": "@Url.Action("Input","Nasabah")",
                    "type": "POST",
                    "datatype": "json",
                    "processData": false,
                    "contentType": false,
                    "beforeSend": function () {
                        ProcessingRequest();
                    },
                    "data": fileData, 
                    "enctype": 'multipart/form-data',
                }).then(
                    (result) => {
                    
                        if (result.statusCategory == 2) {
                            swal({
                                text: result.message,
                                icon: "success",
                                buttons: false,
                                timer: 1500
                            }).then(() => {
                                $("#nasabahModal").modal('hide');
                                ClearScreen();
                                $('#nasabahTable').DataTable().ajax.reload();
                            })
                        }
                        else {
                            swal({
                                text: result.message,
                                icon: "error",                            
                            }).then(() => {
                                $("#nasabahModal").modal('hide');
                                ClearScreen();
                                $('#nasabahTable').DataTable().ajax.reload();
                            })
                        }
                        RequestDone();
                    },
                    (XMLHttpRequest, textStatus, errorThrown) => {
                        alert("Error : " + textStatus);
                        RequestDone();
                    }
                );
            }
        }

        function UpdateNasabah() {
            
            let isPassedCheck = false;
            if($('#boxKode').val()=='' || $('#boxNama').val()==''){
                swal({
                    text: "Kode nasabah dan Nama Nasabah harus diisi!",
                    icon: "warning"                    
                });
                isPassedCheck = false;
            }     
            else
            {
                isPassedCheck = true;                
            }
            
            if(isPassedCheck==true)
            {
                debugger;
                console.log($("#boxNasabahId").val());
                console.log($("#boxKode").val());

                var fileData = new FormData();
                
                fileData.append('Id',$("#boxNasabahId").val());
                fileData.append('KodeNasabah',$("#boxKode").val());
                fileData.append('NamaNasabah',$("#boxNama").val());

                $.ajax({
                    "url": "@Url.Action("Update","Nasabah")",
                    "type": "PUT",
                    "datatype": "json",
                    "processData": false,
                    "contentType": false,
                    "beforeSend": function () {
                        ProcessingRequest();
                    },
                    "data": fileData, 
                    "enctype": 'multipart/form-data',                
                }).then(
                    (result) => {
                        if (result.statusCategory == 2) {
                            swal({
                                text: result.message,
                                icon: "success",
                                buttons: false,
                                timer: 1500
                            }).then(() => {
                                $("#nasabahModal").modal('hide');
                                ClearScreen();
                                $('#nasabahTable').DataTable().ajax.reload();
                            })
                        }
                        else {
                            swal({
                                text: result.message,
                                icon: "error",                            
                            }).then(() => {
                                $("#nasabahModal").modal('hide');
                                ClearScreen();
                                $('#nasabahTable').DataTable().ajax.reload();
                            })
                        }
                        RequestDone();
                    },
                    (XMLHttpRequest, textStatus, errorThrown) => {
                        alert("Error : " + textStatus);
                        RequestDone();
                    });
            }
        }

        function DeleteData(Id) {
            swal({
                title: "Hapus Data",
                text: "Apakah anda yakin akan menghapus data ini?",
                icon: "warning",
                buttons: true,
                dangerMode: true,
            }).then((result) => {
                if (result) {
                    $.ajax({
                        "url": "@Url.Action("Delete","Nasabah")",
                        "type": "DELETE",
                        "datatype": "json",
                        "beforeSend": function () {
                            ProcessingRequest();
                        },
                        "data": { dataId: Id }
                    }).then(
                        (result) => {
                            //console.log(result);
                            if (result.statusCategory == 2) {
                                swal({
                                    text: result.message,
                                    icon: "success",
                                    buttons: false,
                                    timer: 1500
                                }).then(() => {
                                    $('#nasabahTable').DataTable().ajax.reload();
                                })
                            }
                            else {
                                swal({
                                    text: result.message,
                                    icon: "error",
                                    buttons: true
                                }).then(() => {
                                    $('#nasabahTable').DataTable().ajax.reload();
                                })
                            }
                            RequestDone();
                        },
                        (XMLHttpRequest, textStatus, errorThrown) => {
                            alert("Error : " + textStatus);
                            RequestDone();
                        }
                    )
                }
            })
        }

        function ProcessingRequest() {
            $('.spinnerButtonProccess').show();
            $(':input').prop('disabled', true);
        }
        function RequestDone() {
            $('.spinnerButtonProccess').hide();
            $(':input').prop('disabled', false);
        }

        function ClearScreen() {
            $("#boxKode").val("");
            $("#boxNama").val("");

            $('#btnAddNasabah').show();
            $('#btnUpdateNasabah').hide();
        }
    </script>
}