
@{
    ViewData["Title"] = "403";
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <title>403</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="description" content="" />
    <meta name="keywords" content="" />

    <!-- Favicon icon -->
    <link rel="icon" href="~/vendor/jazztemplate/images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="~/css/403Style.css">

</head>
<body>
    <div class="base io">
        <h1>403</h1>
        <h2>Access forbidden</h2>
        <h5>(You dont have permission to access this page)</h5>
    </div>
</body>
</html>


